{% extends 'base.html' %}
{% load app_filters %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}

                <div class="card-header " data-background-color="green">
                    <h4 class="card-title">{{ form.instance|verbose_name|title }}</h4>
                </div>

                <div class="card-content">
                    {{ form.non_field_errors }}

                    {% for tab in form.instance.tabs %}
                        {% if forloop.first %}
                            <ul class="nav nav-pills nav-pills-info">
                        {% endif %}

                        <li class="{% if forloop.first %}active{% endif %}">
                            <a href="#{{ tab.name }}" data-toggle="tab">{{ tab.title }}</a>
                        </li>

                        {% if forloop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}

                    <div class="tab-content">

                        {% for tab in form.instance.tabs %}
                            <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ tab.name }}">
                                {% for string_field_line in tab.fields %}

                                    {% include 'row_begin.html' %}
                                    {% for string_field in string_field_line %}
                                        {% include 'core/model_form_field.html' with field=form|getfield:string_field.name class_column=string_field.columns %}
                                    {% endfor %}
                                    {% include 'row_end.html' %}

                                {% endfor %}
                            </div>
                        {% empty %}
                            {% include 'row_begin.html' %}
                            {% for field in form %}
                                {% include 'core/model_form_field.html' %}
                            {% endfor %}
                            {% include 'row_end.html' %}
                        {% endfor %}

                    </div>

                </div>

                <div class="card-footer text-center">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-success btn-fill" value="Gravar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}