{% extends 'base.html' %}
{% load app_filters %}
{% load l10n %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="card-title">
                    Listagem de {{ object_list.model|verbose_name_plural|title }}
                </h4>
            </div>
            <div class="card-content table-responsive">
                <a href="{{ object_list.model.get_add_url }}" role="button" class="btn btn-info btn-sm bottom-right"><i class="glyphicon-plus"></i> Adicionar</a>
                <table class="table table-list-km">
                    <thead class="text-primary">
                        <th>#</th>

                        {% if object_list.model.list_display_title %}
                        {% for field in object_list.model.list_display_title %}
                            <th class="{{ field|field_type }}">
                                {{ field.verbose_name|upper }}
                                {% comment %}{{ field|field_type }}{% endcomment %}
                            </th>
                        {% endfor %}
                        {% else %}
                            <th>{{ object_list.model|verbose_name|upper }}</th>
                        {% endif %}

                        <th class="text-right">AÇÕES</th>
                    </thead>
                    <tbody>
                    {% for obj in object_list %}
                        <tr>
                            <th scope="row">{{ obj.pk }}</th>

                            {% if object_list.model.list_display_title %}
                                {% for field in object_list.model.list_display_title %}
                                    <td class="{{ field|field_type }}">
                                        {{ obj|get_attr:field.name|format_field|default_if_none:""|localize }}
                                    </td>
                                {% endfor %}
                            {% else %}
                                <td>{{ obj }}</td>
                            {% endif %}

                            {% comment %}
                            {% if obj.list_display_value %}
                            {% for value in obj.list_display_value %}
                                <td>{{ value|localize }} | {{ value.name }}</td>
                            {% endfor %}
                            {% else %}
                                <td>{{ obj }}</td>
                            {% endif %}
                            {% endcomment %}

                            <td class="td-actions text-right">
                                <a href="{{ obj.get_edit_url }}" role="button" class="btn btn-warning"
                                   data-toggle="tooltip" title="Editar">
                                    <i class="material-icons">mode_edit</i>
                                </a>
                                <a href="{{ obj.get_delete_url }}" role="button" class="btn btn-danger"
                                   data-toggle="tooltip" title="Excluir">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if is_paginated %}
                <ul class="pagination pagination-info">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}"> Anterior</a>
                        </li>
                        <li>
                            <a href="?page=1">1{% if page_obj.previous_page_number > 2 %} ..{% endif %}</a>
                        </li>
                        {% if page_obj.previous_page_number > 1 %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="active">
                        <a >{{ page_obj.number }}</a>
                    </li>
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        </li>
                        {% if page_obj.paginator.num_pages > page_obj.next_page_number %}
                            <li>
                                <a href="?page={{ page_obj.paginator.num_pages }}">
                                    {% if page_obj.paginator.num_pages > page_obj.next_page_number|add:1 %}.. {% endif %}{{ page_obj.paginator.num_pages }}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}">Próxima </a>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>

    {% comment %}
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <caption>Listagem de {{ object_list.model|verbose_name_plural|title }}.</caption>
            <thead>
                <tr>
                    <th>#</th>

                    {% if object_list.model.list_display_title %}
                    {% for field in object_list.model.list_display_title %}
                        <th>{{ field.verbose_name|upper }}</th>
                    {% endfor %}
                    {% else %}
                        <th>{{ object_list.model|verbose_name|upper }}</th>
                    {% endif %}

                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                    <th scope="row">{{ obj.pk }}</th>

                    {% if obj.list_display_value %}
                    {% for value in obj.list_display_value %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    {% else %}
                        <td>{{ obj }}</td>
                    {% endif %}

                    <td>
                        <a href="{% block url_edit %}{% endblock %}" role="button" class="btn btn-warning btn-xs">Editar</a>
                        <a href="{% block url_delete %}{% endblock %}" role="button" class="btn btn-danger btn-xs">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endcomment %}
{% endblock content %}
